<nav class="row">
  <div class="small-12 columns">
    <pagination total-items="totalItems" page="currentPage" items-per-page="itemsPerPage" on-select-page="changePage(page)" max-size="numPages" boundary-links="true" rotate="false"></pagination>
  </div>
</nav>

<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-7 xlarge-block-grid-8">
      <li ng-repeat="artist in artists">
        <a class="th" role="button" aria-label="Thumbnail" ui-sref="artist({artistid: artist.artistid})" data-aspect-ratio="1:1">
          <img ng-src="{{artist.thumbnail | wimmArtworkUrl}}" title="{{artist.artist}}">
        </a>
        <a ui-sref="artist({artistid: artist.artistid})" class="small button expand" role="button">{{artist.artist}}</a>
      </li>
    </ul>
  </div>
</div>
