<div class="row about-header">
    <div class="small-12 columns">
        <h3 class="text-center" translate>Web Interface Media Manager</h3>
        <h4 class="subheader text-center" translate>A web interface for managing the Kodi media library.</h4>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-4 columns">
        <ul class="pricing-table">
            <li class="title">WIMM</li>
            <li class="description">{{version}}</li>
            <li class="bullet-item"><a href="{{PKG.homepage}}" translate>Project Page</a></li>
            <li class="bullet-item"><a href="{{PKG.bugs.url}}" translate>Issues</a></li>
            <li class="bullet-item"><a href="{{PKG.support}}" translate>Support Thread</a></li>
        </ul>
    </div>
    <div class="small-12 medium-4 columns">
        <ul class="pricing-table">
            <li class="title">Kodi</li>
            <li class="description" title="{{kodiVersion}} ({{kodiVersionExtra}})">{{kodiVersion}}</li>
            <li class="bullet-item"><a href="https://kodi.tv/" translate>Home Page</a></li>
            <li class="bullet-item"><a href="/jsonrpc" translate>JSON-RPC API</a></li>
            <li class="bullet-item"><a href="http://forum.kodi.tv/" translate>Forums</a></li>
        </ul>
    </div>
    <div class="small-12 medium-4 columns">
        <ul class="pricing-table">
            <li class="title" translate>Powered By</li>
            <li class="bullet-item"><a href="https://angularjs.org/">AngularJS</a></li>
            <li class="bullet-item"><a href="http://foundation.zurb.com/">Foundation</a></li>
            <li class="bullet-item"><a href="http://useiconic.com/open">Open Iconic</a></li>
        </ul>
    </div>
</div>
